<html>
	<head></head>
	<body>
		Hey, People!<br>
			This is to inform you that you have successfully registered for the 
			<b><%= course %></b> course.<br>
			If you face any issue feel free to contact!<br>

			Regards,<br>
			Team E Labs.
	</body>
</html>