<html>
	<head></head>
	<body>
		Hey, People!
			This is to inform you that you have successfully registered for the 
			<b><%= course %></b> course.
			If you face any issue feel free to contact!

			Regards,
			Team E Labs.
	</body>
</html>